@import url("https://fonts.googleapis.com/css?family=Dancing+Script: 100, 200, 300, 400, 500, 600, 700 | Open+Sans+Condensed: 100, 200, 300, 400, 500, 600, 700");
.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.margin-1px {
  margin: 0 1px; }

.full-width {
  width: 100%; }

.center-content {
  text-align: center; }

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
  height: 100%; }

.brand-text {
  font-family: "Dancing Script", cursive;
  font-size: 40px; }

.spacer {
  width: 125px;
  height: 5px;
  background-color: #f9f49c;
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px; }

.background-nav {
  background-color: #474747; }

.background-footer {
  background-color: #474747; }

.navbar {
  border: none; }

.nav-padding {
  padding-bottom: 15px; }

.nav-logo {
  display: inline-block;
  padding-top: 12px;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  font-weight: 100;
  color: #ffffff;
  transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

.nav-list {
  text-align: center; }

.nav-item {
  margin: 0 10px;
  padding-top: 25px;
  list-style: none; }

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 15px;
  font-weight: 100;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

.nav-item a:hover {
  color: #f9f49c; }

.nav-logo:link {
  color: #ffffff;
  text-decoration: none; }

.nav-logo:visited {
  color: #ffffff;
  text-decoration: none; }

.nav-logo:hover {
  color: #f9f49c;
  text-decoration: none; }

.center-hamburger {
  margin-top: 20px; }

.footer {
  height: 75px; }

.welcome-section-background {
  background-image: url(../images/newyork.jpg);
  position: relative;
  align-items: center;
  justify-content: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  height: 90vh;
  width: 100%; }

.welcome-text {
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  padding-top: 20vh;
  margin: 0 10px; }

.search-form {
  text-align: center;
  margin-top: 50px; }

.search-bar {
  border-radius: 5px;
  width: 80%;
  height: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding-left: 10px; }

#map {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.map-wrapper {
  height: 400px;
  width: 95%;
  margin: 10px auto;
  margin-top: 0px; }

.search-bar-mini {
  border-radius: 5px;
  width: 80%;
  height: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding-left: 10px; }

.search-form-mini {
  text-align: center;
  margin-top: 10px; }

.map-filter {
  text-align: center;
  height: 40px;
  width: 50%;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ffffff; }

.filter-btn {
  height: 40px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 0; }

.map-bar {
  background-color: #63859c;
  height: 110px;
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  margin: 0px auto; }

.info-section {
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0; }

.info-header {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0; }

.marker-frame {
  height: 300px;
  width: 70%;
  background-color: #474747;
  margin: 40px 20%;
  padding: 0;
  border-radius: 5px; }

.marker-frame-text {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  padding-top: 125px; }

.marker-photo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px; }

.place-wrapper {
  margin: 40px auto;
  height: 300px; }

.info-wrapper {
  margin-top: 40px; }

.placeholder {
  margin-top: 125px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 20px; }

.place-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px; }

.place-info {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 20px; }

.info-name {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px; }

.row-shadow {
  background-color: #dadada; }

@media only screen and (min-width: 600px) {
  .search-bar {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 60%;
    height: 40px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding-left: 10px; } }
@media only screen and (min-width: 768px) {
  .map-bar {
    background-color: #63859c;
    height: 60px;
    width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin: 0px auto; }

  .map-filter {
    text-align: center;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 10px;
    background-color: #ffffff; } }
@media only screen and (min-width: 992px) {
  .nav-item {
    margin: 0 25px;
    padding-top: 25px;
    list-style: none; } }

/*# sourceMappingURL=style.css.map */
