//Google fonts
@import url('https://fonts.googleapis.com/css?family=Dancing+Script: 100, 200, 300, 400, 500, 600, 700 | Open+Sans+Condensed: 100, 200, 300, 400, 500, 600, 700');

//Set font variables
$dancing-script: 'Dancing Script',
cursive;
$open-sans-condensed: 'Open Sans Condensed',
sans-serif;

//Variables
$main-grey: #474747;
$main-white: #ffffff;
$highlight-yellow: #f9f49c;
$row-shadow: #dadada;
$map-bar: #63859c;

//Mixins
@mixin min992 {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin min768 {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin min600 {
    @media only screen and (min-width: 600px) {
        @content;
    }
}

@mixin transition {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

//Utility classes
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.margin-1px {
    margin: 0 1px;
}

.full-width {
    width: 100%;
}

.center-content {
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    height: 100%;
}

.brand-text {
    font-family: $dancing-script;
    font-size: 40px;
}

.spacer {
    width: 125px;
    height: 5px;
    background-color: $highlight-yellow;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

//Colours
.background-nav {
    background-color: $main-grey;
}

.background-footer {
    background-color: $main-grey;
}

//Nav bar
.navbar {
    border: none;
}

.nav-padding {
    padding-bottom: 15px;
}

.nav-logo {
    display: inline-block;
    padding-top: 12px;
    font-family: $dancing-script;
    font-size: 35px;
    font-weight: 100;
    color: $main-white;
    transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    @include transition;
}

.nav-list {
    text-align: center;
}

.nav-item {
    margin: 0 10px;
    padding-top: 25px;
    list-style: none;
}

.nav-item {
    a {
        text-decoration: none;
        color: #fff;
        font-family: $open-sans-condensed;
        font-size: 15px;
        font-weight: 100;
        @include transition;
    }
}

.nav-item {
    a {
        &:hover {
            color: $highlight-yellow;
        }
    }
}

.nav-logo {
    &:link {
        color: $main-white;
        text-decoration: none;
    }
}

.nav-logo {
    &:visited {
        color: $main-white;
        text-decoration: none;
    }
}

.nav-logo {
    &:hover {
        color: $highlight-yellow;
        text-decoration: none;
    }
}

.center-hamburger {
    margin-top: 20px;
}

//Footer
.footer {
    height: 75px;
}

//Welcome section
.welcome-section-background {
    background-image: url(../images/newyork.jpg);
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: 90vh;
    width: 100%;
}

.welcome-text {
    color: $main-white;
    font-family: $open-sans-condensed;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    padding-top: 20vh;
    margin: 0 10px;
}

//Search bar
.search-form {
    text-align: center;
    margin-top: 50px;
}

.search-bar {
    border-radius: 5px;
    width: 80%;
    height: 40px;
    font-family: $open-sans-condensed;
    font-weight: 100;
    font-size: 15px;
    padding-left: 10px;
}

//Maps section
#map {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.map-wrapper {
    height: 400px;
    width: 95%;
    margin: 10px auto;
    margin-top: 0px;
}

.search-bar-mini {
    border-radius: 5px;
    width: 80%;
    height: 40px;
    font-family: $open-sans-condensed;
    font-weight: 100;
    font-size: 15px;
    padding-left: 10px;
}

.search-form-mini {
    text-align: center;
    margin-top: 10px;
}

.map-filter {
    text-align: center;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    margin-top: 10px;
    background-color: $main-white;
}

.filter-btn {
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    background-color: $main-white;
    padding: 0;
}

.map-bar {
    background-color: $map-bar;
    height: 110px;
    width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin: 0px auto;
}

//Info sections
.info-section {
    background-color: $main-white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.info-header {
    font-family: $open-sans-condensed;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}

.marker-frame {
    height: 300px;
    width: 90%;
    background-color: $main-grey;
    margin: 40px 5% 20px 5%;
    padding: 0;
    border-radius: 5px;
}

.marker-frame-text {
    font-family: $dancing-script;
    font-size: 30px;
    color: $main-white;
    text-align: center;
    padding-top: 125px;
}

.marker-photo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.place-wrapper {
    margin: 0px auto;
    height: 250px;
}

.info-wrapper {
    margin-bottom: 20px;
}

.placeholder {
    margin-top: 75px;
    font-family: $open-sans-condensed;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 20px;
    text-align: center;
}

.place-title {
    font-family: $open-sans-condensed;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.place-info {
    font-family: $open-sans-condensed;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

.info-name {
    font-family: $open-sans-condensed;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.row-shadow {
    background-color: $row-shadow;
}

//Media Queries
@include min600 {
    .search-bar {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 60%;
        height: 40px;
        font-family: $open-sans-condensed;
        font-weight: 100;
        font-size: 15px;
        padding-left: 10px;
    }
}

@include min768 {
    .map-bar {
        background-color: $map-bar;
        height: 60px;
        width: 95%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        margin: 0px auto;
    }

    .info-wrapper {
        margin-top: 40px;
    }

    .map-filter {
        text-align: center;
        height: 40px;
        width: 50%;
        border-radius: 5px;
        margin-left: 15%;
        margin-top: 10px;
        background-color: $main-white;
    }

    .placeholder {
        margin-top: 125px;
        font-family: $open-sans-condensed;
        font-size: 20px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 20px;
    }

    .place-wrapper {
        margin: 40px auto;
        height: 300px;
    }

    .place-title {
        font-family: $open-sans-condensed;
        font-size: 30px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 20px;
    }

    .place-info {
        font-family: $open-sans-condensed;
        font-size: 20px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 20px;
    }

    .info-name {
        font-family: $open-sans-condensed;
        font-size: 22px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 20px;
    }

    .marker-frame {
        height: 300px;
        width: 90%;
        background-color: $main-grey;
        margin: 40px 5%;
        padding: 0;
        border-radius: 5px;
    }
}

@include min992 {
    .nav-item {
        margin: 0 25px;
        padding-top: 25px;
        list-style: none;
    }

    .marker-frame {
        height: 300px;
        width: 70%;
        background-color: $main-grey;
        margin: 40px 20%;
        padding: 0;
        border-radius: 5px;
    }
}
